// Кольор тексту
$colorTextPrimary: #212121;
$colorTextSecodary: #757575;
$colorTextTertiary: #fff;
$colorTextAdditional: rgba(255, 255, 255, 0.6);
$colorTextHover: #2196f3;
// Кольори фону
$colorBeckgroundPrimary: #2f303a;
$colorBeckgroundSecodary: #f5f4fa;
// Шрифти
$fontTextPrimary: "Roboto", "serif";
